<h4>検索結果</h4>

<% if @range == "Customer" %>
  <table class = "table table-hover">
  	<thead>
  		<th>会員ID</th>
  		<th>名前</th>
  		<th>フリガナ</th>
  		<th>会員ステータス</th>
  	</thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.lastname + " " + customer.firstname %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_active %>
              <%= "有効" %>
            <% else %>
              <%= "退会" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>