<h4>商品詳細</h4>
<table>
  <%= image_tag @item.get_image("500") %> <br>
  <%= @item.name %> <br>
  <%= @item.description %> <br>
  ￥<%= @item.with_tax_price %> (税込) <br>
  <% if customer_signed_in? %>
  <td><%= form_with model: [@item, @cart_item] do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :quantity, *[1..10] %>
        <%= f.submit 'カートに入れる', class:"btn btn-success"%>
      <% end %>
    <% end %>
  </td>
</table>