<!DOCTYPE html>
<html>
  <head>
    <title>nagano cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/946d35510f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% if admin_signed_in? %>
      <a class="navbar-brand" href="/admin"><span>Nagano Cake</span></a>
      <% else %>
      <a class="navbar-brand" href="/"><span>Nagano Cake</span></a>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <li>
            <a class="nav-link text-light" href = "<%= mypage_path %>"><i class="fas fa-home"></i>マイページ</a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= items_path %>"><i class="fas fa-users"></i> 商品一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= cart_items_path %>">
              <i class="fas fa-book-open"></i>カート</a>
          </li>
          <li>
            <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/customers/sign_out">
              <i class="fas fa-sign-out-alt"></i> ログアウト</a>
          </li>
          <% elsif admin_signed_in? %>
          <li>
            <a class="nav-link text-light" href = <%= admin_items_path %>><i class="fas fa-home"></i>商品一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= admin_customers_path %>"><i class="fas fa-users"></i> 会員一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href="<%= admin_orders_path %>">
              <i class="fas fa-book-open"></i>注文履歴一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" href=<%= admin_genres_path %>>
              <i class="fas fa-book-open"></i>ジャンル一覧</a>
          </li>
          <li>
            <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/admin/sign_out">
              <i class="fas fa-sign-out-alt"></i> ログアウト</a>
          </li>
          <% else %>
          <li>
            <a class="nav-link text-light" href=<%= items_path %>><i class="fas fa-link"></i>商品一覧</a></li>
          <li>
            <a class="nav-link text-light" href="/customers/sign_up"><i class="fas fa-user-plus"></i>新規登録</a>
          </li>
          <li>
            <a class="nav-link text-light" href="/customers/sign_in"><i class="fas fa-sign-in-alt"></i>ログイン</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<%= render 'layouts/search' %>
</header>
  <main class="mb-auto">
    <div>
      <%= flash[:notice] %>
    </div>
  <%= yield %>
  </main>
  </body>
</html>